<!DOCTYPE html>
<html>

<head>
    <title>BharatAI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <h1>🚀 BharatAI</h1>

        <div class="nav-links">

        <a href="/">Home</a>

        <a href="/schemes">Schemes</a>

        <a href="/scholarships">Scholarships</a>

        <a href="/tenders">Tenders</a>

        <a href="/about">About</a>

        <a href="/profile">Login</a>

    </div>
    </nav>

    <section class="hero">

        <h2>Discover Government Schemes, Scholarships & Opportunities</h2>
        <p>
            AI-powered platform for schemes,
            scholarships, loans, grants and tenders.
        </p>

        <a href="/dashboard">
            <button>Get Started</button>
        </a>
    </section>

    <section class="categories">

    <h2>Explore Opportunities</h2>

    <div class="cards">

        <div class="card">
            <h3>🎓 Scholarships</h3>
            <p>Find student scholarships and financial aid.</p>
        </div>

        <div class="card">
            <h3>🏛 Government Schemes</h3>
            <p>Explore central and state government schemes.</p>
        </div>

        <div class="card">
            <h3>💰 Loans</h3>
            <p>Government-backed loans and funding support.</p>
        </div>

        <div class="card">
            <h3>🚀 Startup Grants</h3>
            <p>Funding opportunities for startups and innovators.</p>
        </div>

        <div class="card">
            <h3>📑 Tenders</h3>
            <p>Government procurement and contract opportunities.</p>
        </div>

        <div class="card">
            <h3>🌾 Farmer Benefits</h3>
            <p>Agriculture schemes and subsidy programs.</p>
        </div>

    </div>

</section>

</body>
</html>
